<!-- INCLUDE overall_header.html -->
<a name="faqtop"></a>

	<table cellspacing="1">
	<tr class="toplines">
		<th>{L_FAQ_TITLE}</th>
	</tr>
	<tr>
		<td><h2>{L_FAQ_TITLE}</h2></td>
	</tr>
	<tr>
		<td class="row1 pad25">
		<!-- BEGIN faq_block -->
			<span style="font-weight: bold;">{faq_block.BLOCK_TITLE}</span><br />
			<!-- BEGIN faq_row -->
				<a href="#f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</a><br />
			<!-- END faq_row -->
			<br />
		<!-- END faq_block -->
		</td>
	</tr>
	</table>

<div class="spacing"></div>

	<!-- BEGIN faq_block -->
		<table cellspacing="1">
		<tr> 
			<td colspan="2"><h2>{faq_block.BLOCK_TITLE}</h2></td>
		</tr>
		<!-- BEGIN faq_row --> 
		<tr>
			<!-- IF faq_block.faq_row.S_ROW_COUNT is even -->
				<td class="row1 pad25">
			<!-- ELSE -->
				<td class="row2 pad25">
			<!-- ENDIF -->
				<a name="f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}"></a><span style="font-weight: bold;">{faq_block.faq_row.FAQ_QUESTION}</span><br />
				{faq_block.faq_row.FAQ_ANSWER}<br />
				<a href="#faqtop">{L_BACK_TO_TOP}</a>
			</td>
		</tr>
		<!-- END faq_row -->
		</table>
	<!-- END faq_block -->

<!-- NOT YET UPDATED BEGINS -->
<!-- INCLUDE breadcrumbs.html -->
<!-- NOT YET UPDATED END -->

<div class="spacing"></div>

<div class="right"><!-- INCLUDE jumpbox.html --></div>

<div class="spacing"></div>

<!-- INCLUDE overall_footer.html -->