<table cellspacing="1" class="index_body">
	<tr class="toplines">
		<th colspan="2">{L_FORUM}</th>
		<th>{L_TOPICS}</th>
		<th>{L_POSTS}</th>
		<th>{L_LAST_POST}</th>
	</tr>

	<!-- BEGIN forumrow -->
		<!-- IF forumrow.S_IS_CAT -->
			<tr> 
				<td colspan="5"><h2><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h2></td>
			</tr>
		<!-- ELSEIF forumrow.S_IS_LINK -->
			<tr>
				<td class="row1 one">{forumrow.FORUM_FOLDER_IMG}</td>
				<td class="row1 two"
				onmouseover="this.style.backgroundColor='#2b2b2b'; this.style.cursor='pointer'"
				onmouseout="this.style.backgroundColor=''"
				onclick="window.location.href='{forumrow.U_VIEWFORUM}'">
				<!-- IF forumrow.FORUM_IMAGE -->
					<div style="float: {S_CONTENT_FLOW_BEGIN}; margin-{S_CONTENT_FLOW_END}: 5px;">{forumrow.FORUM_IMAGE}</div><div style="float: {S_CONTENT_FLOW_BEGIN};">
				<!-- ENDIF -->
				<h3><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h3>
				{forumrow.FORUM_DESC}
				<!-- IF forumrow.FORUM_IMAGE --></div><!-- ENDIF -->
				</td>
			<!-- IF forumrow.CLICKS -->
				<td class="row2 one" colspan="3" align="center">{L_REDIRECTS}: {forumrow.CLICKS}</td>
			<!-- ELSE -->
				<td class="row2" colspan="3" align="center">&nbsp;</td>
			<!-- ENDIF -->
		</tr>
	<!-- ELSE -->
		<!-- IF forumrow.S_NO_CAT -->
			<tr>
				<td colspan="5"><h2>{L_FORUM}</h2></td>
			</tr>
		<!-- ENDIF -->
		<tr>
			<td class="row1 one">{forumrow.FORUM_FOLDER_IMG}</td>
			<td class="row1 two"
			onmouseover="this.style.backgroundColor='#2b2b2b'; this.style.cursor='pointer'"
			onmouseout="this.style.backgroundColor=''"
			onclick="window.location.href='{forumrow.U_VIEWFORUM}'">
			<!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED --><a class="feed-icon-forum" title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}"><img src="{T_THEME_PATH}/images/feed.gif" alt="{L_FEED} - {forumrow.FORUM_NAME}" /></a><!-- ENDIF -->
				<!-- IF forumrow.FORUM_IMAGE --><div style="float: {S_CONTENT_FLOW_BEGIN}; margin-{S_CONTENT_FLOW_END}: 5px;">{forumrow.FORUM_IMAGE}</div><!-- ENDIF -->
				<h3><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h3>
				{forumrow.FORUM_DESC}
				<!-- IF forumrow.MODERATORS --><br />{forumrow.L_MODERATOR_STR}: {forumrow.MODERATORS}<!-- ELSEIF not forumrow.SUBFORUMS --><br />&nbsp;<!-- ENDIF -->
				<!-- IF forumrow.SUBFORUMS --><br />{forumrow.L_SUBFORUM_STR} {forumrow.SUBFORUMS}<!-- ENDIF -->
			</td>
			<td class="row2 one">{forumrow.TOPICS}</td>
			<td class="row2 one">{forumrow.POSTS}</td>
			<td class="row2 three">
				<!-- IF forumrow.LAST_POST_TIME -->
					<p class="topicdetails"><!-- IF forumrow.U_UNAPPROVED_TOPICS --><a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a>&nbsp;<!-- ENDIF -->{forumrow.LAST_POST_TIME}</p>
					<p class="topicdetails">{forumrow.LAST_POSTER_FULL}
		                  <!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF -->
					</p>
				<!-- ELSE -->
					<p class="topicdetails">{L_NO_POSTS}</p>
				<!-- ENDIF -->
			</td>
		</tr>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<tr>
		<td class="row1 one" colspan="5" align="center">{L_NO_FORUMS}</td>
	</tr>
<!-- END forumrow -->
</table>