<!-- INCLUDE overall_header.html -->

<!-- INCLUDE forumlist_body.html -->

<div class="timezone left"><!-- IF not S_IS_BOT and U_MARK_FORUMS --><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a>&nbsp;&nbsp;&nbsp;<!-- ENDIF --><!-- IF not S_IS_BOT or U_TEAM --><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a><!-- ENDIF --><!-- ENDIF --></div>
<div class="timezone right">{S_TIMEZONE}</div>
<div class="spacing"></div>

<table cellspacing="0">
	<tr class="lines_3">
		<th>
		<div class="left">
			<!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<br /><!-- ENDIF -->
			{CURRENT_TIME}<br />
			<!-- IF S_USER_LOGGED_IN --><br /><!-- ENDIF -->
			<span class="nav"><a href="{U_INDEX}">{L_INDEX}</a></span>
		</div>
		<!-- IF S_DISPLAY_SEARCH -->
		<div class="right">
			<!-- IF S_USER_LOGGED_IN or S_LOAD_UNREADS -->
			<!-- IF S_LOAD_UNREADS --><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a><!-- IF S_USER_LOGGED_IN --> | <!-- ENDIF --><!-- ENDIF -->
      <!-- IF S_USER_LOGGED_IN -->
      <a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a><br />
			<a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a><br />
      <!-- ENDIF -->
			<a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a><br />
			<a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a>
			<!-- ENDIF -->
		</div>
		<!-- ENDIF -->
		</th>
	</tr>
</table>
<div class="spacing"></div>

<!-- IF S_DISPLAY_ONLINE_LIST -->
<table cellspacing="1" class="whoisonline">
	<tr> 
		<td colspan="2"><!-- IF U_VIEWONLINE --><h2><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h2><!-- ELSE --><h2>{L_WHO_IS_ONLINE}</h2><!-- ENDIF --></td>
	</tr>
	<tr> 
		<td class="row1 one" rowspan="2"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_WHO_IS_ONLINE}" /></td>
		<td class="row1 two">{TOTAL_POSTS}. {TOTAL_TOPICS}. {TOTAL_USERS}.<br />
		{NEWEST_USER}.<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST --> <!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <b>{BIRTHDAY_LIST}</b><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->.<!-- ENDIF --></td>
	</tr>
	<tr> 
		<td class="row1 two">{TOTAL_USERS_ONLINE}<br />
		{RECORD_USERS}<br />
		{LOGGED_IN_USER_LIST}</td>
	</tr>
	<tr>
	<td class="row1 two" colspan="2"><!-- IF LEGEND --><div style="float:left;">{L_LEGEND}: {LEGEND}</div><!-- ENDIF --><!-- IF not S_IS_BOT and U_TEAM --><div style="float:right;"><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a><!-- ENDIF --></div><!-- ENDIF --></td>
	</tr>
</table>
<div class="timezone left">{L_ONLINE_EXPLAIN}</div>
<!-- ENDIF -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<div class="spacing"></div>

	<form method="post" action="{S_LOGIN_ACTION}">
	
	<table cellspacing="1">
		<tr> 
			<td><h2><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h2></td>
		</tr>
		<tr> 
			<td class="row1 txtcenter pad4">
			{L_USERNAME}: 
			<input class="post postsmall" type="text" name="username" />
			&nbsp;&nbsp;&nbsp;{L_PASSWORD}: 
			<input class="post postsmall" type="password" name="password" maxlength="32" />
			<input name="autologin" type="hidden" value="1" />
			&nbsp;&nbsp;<input type="submit" class="button" name="login" value="{L_LOGIN}" />
			&nbsp;&nbsp;<input type="checkbox" class="radio" name="autologin" tabindex="3" /> {L_LOG_ME_IN}
			</td>
		</tr>
	</table>
	{S_FORM_TOKEN}
	{S_LOGIN_REDIRECT}
	</form>
<div class="spacing"></div>
<!-- ENDIF -->

<div class="spacing"></div>

<table cellspacing="1" class="index_body_icons">
	<tr> 
		<td>{FORUM_UNREAD_IMG}
		{L_NEW_POSTS}
		{FORUM_LOCKED_IMG}
		{L_FORUM_LOCKED}</td>
	</tr>
</table>

<div class="spacing"></div>

<!-- INCLUDE overall_footer.html -->