<!-- INCLUDE overall_header.html -->

<div id="pagecontent">

	<form name="confirm" action="{S_CONFIRM_ACTION}" method="post">
	
	<table class="modcp" width="100%" cellspacing="1">
	<tr class="toplines">
		<th>{MESSAGE_TITLE}</th>
	</tr>
	<tr>
		<th><h2>{MESSAGE_TITLE}</h2></th>
	</tr>
	<tr>
		<td class="row1 pad4" align="center">
			<!-- IF ADDITIONAL_MSG -->
				{ADDITIONAL_MSG}<br />
			<!-- ENDIF -->
			<!-- IF S_FORUM_SELECT -->
				<br />{L_SELECT_DESTINATION_FORUM}&nbsp;&nbsp;
					<select name="to_forum_id">{S_FORUM_SELECT}</select><br />
				<!-- IF S_CAN_LEAVE_SHADOW -->
					<input type="checkbox" class="radio" name="move_leave_shadow" checked="checked" />{L_LEAVE_SHADOW}<br />
				<!-- ENDIF -->
				<br />{S_HIDDEN_FIELDS}{MESSAGE_TEXT}<br /><br />
				<input type="submit" name="confirm" value="{YES_VALUE}" class="button" />&nbsp;&nbsp;<input type="submit" name="cancel" value="{L_NO}" class="button" />
			<!-- ELSE -->
				{L_NO_DESTINATION_FORUM}<br /><br />
					{S_HIDDEN_FIELDS}
					<input type="submit" name="cancel" value="{L_CANCEL}" class="button" />
			<!-- ENDIF -->
		</td>
	</tr>
	</table>
	{S_FORM_TOKEN}	
	</form>
	
</div>

<div class="spacing"></div>

<!-- INCLUDE breadcrumbs.html -->

<div class="spacing"></div>

<!-- INCLUDE overall_footer.html -->
