<!-- INCLUDE mcp_header.html -->

<form method="post" name="mcp" action="{U_POST_ACTION}">

<table class="modcp" width="100%" cellspacing="1" cellpadding="4" border="0" align="center">
<tr>
	<th colspan="2"><h2>{L_SELECT_USER}</h2></th>
</tr>
<tr>
	<td class="row1 pad4" width="40%"><b>{L_FIND_USERNAME}: </b><br />[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</td>
	<td class="row2 pad4"><input type="text" class="post" name="username" size="20" /></td>
</tr>
<tr>
	<td class="row3 pad4" colspan="2" align="center"><input type="submit" name="submituser" value="{L_SUBMIT}" class="button" /></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>

<div class="spacing"></div>

<!-- INCLUDE mcp_footer.html -->