<!-- INCLUDE overall_header.html -->

<div id="pagecontent">

	<form name="confirm" action="{S_CONFIRM_ACTION}" method="post">
	
	<table class="modcp" width="100%" cellspacing="1">
	<tr>
		<th><h2>{MESSAGE_TITLE}</h2></th>
	</tr>
	<tr>
		<td class="row1 pad4" align="center">
			<!-- IF ADDITIONAL_MSG -->
				{ADDITIONAL_MSG}<br />
			<!-- ENDIF -->
			<!-- IF S_NOTIFY_POSTER -->
				<input type="checkbox" class="radio" name="notify_poster" checked="checked" /><!-- IF S_APPROVE -->{L_NOTIFY_POSTER_APPROVAL}<!-- ELSE -->{L_NOTIFY_POSTER_DISAPPROVAL}<!-- ENDIF --><br />
			<!-- ENDIF -->
			<!-- IF not S_APPROVE -->
				<br />
				<table border="0" width="90%" cellspacing="2" cellpadding="1">
				<tr>
					<td class="row1 pad4" width="22%"><b>{L_DISAPPROVE_REASON}:</b></td>
					<td class="row1 pad4" width="78%"><select name="reason_id"><!-- BEGIN reason --><option value="{reason.ID}"<!-- IF reason.S_SELECTED --> selected="selected"<!-- ENDIF -->>{reason.DESCRIPTION}</option><!-- END reason --></select></td>
				</tr>
				<tr>
					<td class="row1 pad4" valign="top"><b>{L_MORE_INFO}:</b><br />{L_CAN_LEAVE_BLANK}</td>
					<td class="row1 pad4"><textarea class="post" style="width:500px" name="reason" rows="10" cols="40">{REASON}</textarea></td>
				</tr>
				</table>
				<br />
			<!-- ENDIF -->
			<br />{S_HIDDEN_FIELDS}{MESSAGE_TEXT}<br /><br />
			<input type="submit" name="confirm" value="{YES_VALUE}" class="button" />&nbsp;&nbsp;<input type="submit" name="cancel" value="{L_NO}" class="button" />
		</td>
	</tr>
	</table>
	{S_FORM_TOKEN}
	</form>
	
</div>

<div class="spacing"></div>

<!-- INCLUDE breadcrumbs.html -->

<div class="spacing"></div>

<!-- INCLUDE overall_footer.html -->
