<!-- INCLUDE overall_header.html -->

<form action="{S_POST_ACTION}" method="post" name="postform">

<table class="posting_body" width="100%" cellspacing="1">
<tr class="toplines">
	<th colspan="2">{L_SEND_EMAIL_USER}</th>
</tr>
<tr>
	<th colspan="2"><h2>{L_SEND_EMAIL_USER} {USERNAME}</h2></th>
</tr>
<!-- IF ERROR_MESSAGE -->
	<tr>
		<td class="row3" colspan="2" align="center">{ERROR_MESSAGE}</td>
	</tr>
<!-- ENDIF -->
<!-- IF S_SEND_USER -->
	<tr> 
		<td class="row1 pad4" width="35%"><b>{L_RECIPIENT}</b></td>
		<td class="row2 pad4" width="65%"><b>{USERNAME}</b></td>
	</tr>
	<tr> 
		<td class="row1 pad4" width="35%"><b>{L_SUBJECT}</b></td>
		<td class="row2 pad4"><input class="post" type="text" name="subject" size="50" tabindex="2" value="{SUBJECT}" /></td>
	</tr>
<!-- ELSE -->
	<tr>
		<td class="row1 pad4" width="35%"><b>{L_EMAIL_ADDRESS}</b></td>
		<td class="row2 pad4"><input class="post" type="text" name="email" size="50" maxlength="100" value="{EMAIL}" /></td>
	</tr>
	<tr> 
		<td class="row1 pad4" width="35%"><b>{L_REAL_NAME}</b></td>
		<td class="row2 pad4"><input class="post" type="text" name="name" size="50" value="{NAME}" /></td>
	</tr>
	<tr> 
		<td class="row1 pad4" width="35%"><b>{L_DEST_LANG}</b><br />{L_DEST_LANG_EXPLAIN}</td>
		<td class="row2 pad4"><select name="lang">{S_LANG_OPTIONS}</select></td>
	</tr>
<!-- ENDIF -->
<tr> 
	<td class="row1 pad4" valign="top"><b>{L_MESSAGE_BODY}</b><br />{L_EMAIL_BODY_EXPLAIN}</td>
	<td class="row2 pad4"><textarea class="post" name="message" rows="15" cols="76" tabindex="3">{MESSAGE}</textarea></td>
</tr>
<tr> 
	<td class="row1 pad4" valign="top"><b>{L_OPTIONS}</b></td>
	<td class="row2 pad4">
		<table cellspacing="0" cellpadding="1" border="0">
		<tr> 
			<td><input type="checkbox" class="radio" name="cc_email" value="1" checked="checked" /></td>
			<td>{L_CC_EMAIL}</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="row3 pad4 txtcenter" colspan="2"><input type="submit" tabindex="6" name="submit" class="button" value="{L_SEND_EMAIL}" /></td>
</tr>
</table>

{S_FORM_TOKEN}

</form>


<!-- INCLUDE breadcrumbs.html -->

<div class="spacing"></div>

<div class="right"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->