<table width="100%" cellspacing="1">
<tr>
	<td ><h2>{L_TOPIC_REVIEW} - {TOPIC_TITLE}</h2></td>
</tr>
<script type="text/javascript">
// <![CDATA[
	bbcodeEnabled = {S_BBCODE_ALLOWED};
// ]]>
</script>
<tr>
	<td style="padding: 5px;"><div style="overflow: auto; width: 100%; height: 300px;">

		<table width="100%" cellspacing="1" class="posting_body">
		<tr class="toplines">
			<th width="22%">{L_AUTHOR}</th>
			<th>{L_MESSAGE}</th>
		</tr>
		<!-- BEGIN topic_review_row -->

			<tr>

				<!-- IF topic_review_row.S_ROW_COUNT is even --><td class="row1 three" rowspan="2" valign="top"><!-- ELSE --><td class="row2 three" rowspan="2" valign="top"><!-- ENDIF -->
<!-- **********************NOT YET TESTED FROM HERE NEW SINCE PHP 3.0.5 -->
				<!-- IF post_review_row.S_IGNORE_POST -->
				{post_review_row.L_IGNORE_POST}
				</td>
				<!-- ELSE -->
				<a id="pr{topic_review_row.POST_ID}"></a>
					<table width="150px" cellspacing="0">
					<tr>
						<td><b <!-- IF topic_review_row.POST_AUTHOR_COLOUR --> style="color: {topic_review_row.POST_AUTHOR_COLOUR}"<!-- ENDIF -->>{topic_review_row.POST_AUTHOR}</b></td>
					</tr>
					</table>
				</td>
				<!-- ENDIF -->
<!-- **********************NOT YET TESTED UNTIL HERE -->
				<td class="row3 two" width="100%">
					<table width="100%" cellspacing="0">
					<tr>
						<td><!-- IF S_IS_BOT -->{topic_review_row.MINI_POST_IMG}<!-- ELSE --><a href="{topic_review_row.U_MINI_POST}">{topic_review_row.MINI_POST_IMG}</a><!-- ENDIF -->{L_POSTED}:&nbsp;  {topic_review_row.POST_DATE}<!-- IF topic_review_row.U_MCP_DETAILS -->&nbsp;&nbsp;[ <a href="{topic_review_row.U_MCP_DETAILS}">{L_POST_DETAILS}</a> ]<!-- ENDIF --></td><td class="txtright"><!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE --><a href="#" onclick="addquote({topic_review_row.POST_ID},'{topic_review_row.POSTER_QUOTE}', '{LA_WROTE}'); return false;">{QUOTE_IMG}</a><!-- ENDIF --></td>
					</tr>
					</table>
				</td>
			</tr>

			<tr>

				<!-- IF topic_review_row.S_ROW_COUNT is even --><td class="row1 four" valign="top"><!-- ELSE --><td class="row2 four" valign="top"><!-- ENDIF -->
					<table width="100%" cellspacing="0">
					<tr>
						<td valign="top">
							<table width="100%" cellspacing="0" cellpadding="2">
							<tr>
								<td>
									<div>{topic_review_row.MESSAGE}</div>

									<!-- IF topic_review_row.S_HAS_ATTACHMENTS -->
										<br clear="all" /><br />

										<table class="" width="100%" cellspacing="1">
										<tr>
											<td class="row3 pad4"><b>{L_ATTACHMENTS}: </b></td>
										</tr>
										<!-- BEGIN attachment -->
											<tr>
												<!-- IF topic_review_row.attachment.S_ROW_COUNT is even --><td class="row2"><!-- ELSE --><td class="row1"><!-- ENDIF -->{topic_review_row.attachment.DISPLAY_ATTACHMENT}</td>
											</tr>
										<!-- END attachment -->
										</table>
									<!-- ENDIF -->

									<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
										<div id="message_{topic_review_row.POST_ID}" style="display: none;">{topic_review_row.DECODED_MESSAGE}</div>
									<!-- ENDIF -->
								</td>
							</tr>
							</table>
						</td>
					</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="row2 pad4" colspan="2">&nbsp;</td>
			</tr>
		<!-- END topic_review_row -->
		</table>
	</div></td>
</tr>
</table>