
<tr>
	<th colspan="2"><h2>{L_ADD_POLL}</h2></th>
</tr>
<tr>
	<td class="row3 pad4" colspan="2">{L_ADD_POLL_EXPLAIN}</td>
</tr>
<tr>
	<td class="row1 pad4">{L_POLL_QUESTION}:</td>
	<td class="row2 pad4"><input class="post" type="text" name="poll_title" size="50" maxlength="255" value="{POLL_TITLE}" /></td>
</tr>
<tr>
	<td class="row1 pad4">{L_POLL_OPTIONS}:<br />{L_POLL_OPTIONS_EXPLAIN}</td>
	<td class="row2 pad4"><textarea class="post" style="width:450px" name="poll_option_text" rows="5" cols="35">{POLL_OPTIONS}</textarea></td>
</tr>
<tr>
	<td class="row1 pad4">{L_POLL_MAX_OPTIONS}:<br />{L_POLL_MAX_OPTIONS_EXPLAIN}</td>
	<td class="row2 pad4"><input class="post" type="text" name="poll_max_options" size="3" maxlength="3" value="{POLL_MAX_OPTIONS}" /></td>
</tr>
<tr>
	<td class="row1 pad4">{L_POLL_FOR}:</td>
	<td class="row2 pad4"><input class="post" type="text" name="poll_length" size="3" maxlength="3" value="{POLL_LENGTH}" />&nbsp;{L_DAYS}&nbsp;{L_POLL_FOR_EXPLAIN}</td>
</tr>
<!-- IF S_POLL_VOTE_CHANGE -->
	<tr>
		<td class="row1 pad4">{L_POLL_VOTE_CHANGE}:<br />{L_POLL_VOTE_CHANGE_EXPLAIN}</td>
		<td class="row2 pad4"><input type="checkbox" class="radio" name="poll_vote_change"{VOTE_CHANGE_CHECKED} /></td>
	</tr>
<!-- ENDIF -->

<!-- IF S_POLL_DELETE -->
	<tr>
		<td class="row1 pad4">{L_POLL_DELETE}:</td>
		<td class="row2 pad4"><input type="checkbox" class="radio" name="poll_delete"<!-- IF S_POLL_DELETE_CHECKED --> checked="checked"<!-- ENDIF --> /></td>
	</tr>
<!-- ENDIF -->
