<form method="post" action="{U_QR_ACTION}">

	<table class="tablebg" width="100%" cellspacing="1">
		<tr class="toplines">
			<th colspan="2">{L_QUICKREPLY}</th>
		</tr>
		<tr>
			<td class="row1 pad4" width="22%"><b>{L_SUBJECT}:</b></td>
			<td class="row2 pad4" width="78%"><input class="post" style="width:98%" type="text" name="subject" size="45" maxlength="64" tabindex="2" value="{SUBJECT}" /></td>
		</tr>
		<tr>
			<td class="row1 pad4" width="22%"><b>{L_MESSAGE}:</b></td>
			<td class="row2 pad4" valign="top" align="left" width="78%"><textarea class="post postbiggest" style="width: 700px; height: 130px; min-width: 98%; max-width: 98%;" name="message" rows="7" cols="76" tabindex="3"></textarea></td>
		</tr>
		<tr>
			<td class="row3 pad4" colspan="2" align="center">
				<input class="button" type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" />&nbsp;
				<input class="button" type="submit" accesskey="f" tabindex="7" name="full_editor" value="{L_FULL_EDITOR}" />
				{S_FORM_TOKEN}
				{QR_HIDDEN_FIELDS}
			</td>
		</tr>
	</table>
	
</form>
<br clear="all" />