<!-- INCLUDE overall_header.html -->
	<form method="get" action="{S_SEARCH_ACTION}">
	
	<table cellspacing="1" class="search">
	<tr class="toplines">
		<th colspan="4">{L_SEARCH_QUERY}</th>
	</tr>
	<tr>
		<td colspan="4"><h2>{L_SEARCH_QUERY}</h2></td>
	</tr>
	<tr>
		<td class="row1 one" colspan="2">{L_SEARCH_KEYWORDS}:<br />{L_SEARCH_KEYWORDS_EXPLAIN}</td>
		<td class="row2 two" colspan="2"><input type="text" class="post postlarge" name="keywords" /><br />
		<div>
			<input type="radio" class="checkbox" name="terms" value="all" checked="checked" /> {L_SEARCH_ALL_TERMS}
		</div>
		<div>
			<input type="radio" class="checkbox" name="terms" value="any" /> {L_SEARCH_ANY_TERMS}
		</div></td>
	</tr>
	<tr>
		<td class="row1 one" colspan="2">{L_SEARCH_AUTHOR}:<br />{L_SEARCH_AUTHOR_EXPLAIN}</td>
		<td class="row2 two" colspan="2"><input type="text" class="post postlarge" name="author" /></td>
	</tr>
	<tr>
		<td class="row1 one" colspan="2">{L_SEARCH_FORUMS}:</b><br />{L_SEARCH_FORUMS_EXPLAIN}</td>
		<td class="row2 two" colspan="2"><select name="fid[]" multiple="multiple" size="7" class="postlarge">{S_FORUM_OPTIONS}</select></td>
	</tr>
	<tr>
		<th colspan="4" class="txtleft"><h2>{L_SEARCH_OPTIONS}</h2></th>
	</tr>
	<tr>
		<td class="row1 three">{L_SEARCH_SUBFORUMS}:</td>
		<td class="row2 two"><input type="radio" class="checkbox" name="sc" value="1" checked="checked" />&nbsp;{L_YES}&nbsp;&nbsp;<input type="radio" class="checkbox" name="sc" value="0" />&nbsp;{L_NO}</td>
		<td class="row1 three">{L_SEARCH_WITHIN}:</td>
		<td class="row2 two"><input type="radio" class="checkbox" name="sf" value="all" checked="checked" />&nbsp;{L_SEARCH_TITLE_MSG}<br /><input type="radio" class="checkbox" name="sf" value="msgonly" />&nbsp;{L_SEARCH_MSG_ONLY}&nbsp;<br /><input type="radio" class="checkbox" name="sf" value="titleonly" />&nbsp;{L_SEARCH_TITLE_ONLY}&nbsp;<br /><input type="radio" class="checkbox" name="sf" value="firstpost" />&nbsp;{L_SEARCH_FIRST_POST}</td>
	</tr>
	<tr>
		<td class="row1 three">{L_RESULT_SORT}:</td>
		<td class="row2 two">{S_SELECT_SORT_KEY}<br />
		<div>
			<input type="radio" class="checkbox" name="sd" value="a" />&nbsp;{L_SORT_ASCENDING}
		</div>
		<div>
			<input type="radio" class="checkbox" name="sd" value="d" checked="checked" />&nbsp;{L_SORT_DESCENDING}
		</div></td>
		<td class="row1 three">{L_DISPLAY_RESULTS}:</td>
		<td class="row2 two"><input type="radio" class="checkbox" name="sr" value="posts" checked="checked" />&nbsp;{L_POSTS}&nbsp;&nbsp;<input type="radio" class="checkbox" name="sr" value="topics" />&nbsp;{L_TOPICS}</td>
	</tr>
	<tr>
		<td class="row1 three">{L_RESULT_DAYS}:</td>
		<td class="row2 two">{S_SELECT_SORT_DAYS}</td>
		<td class="row1 three">{L_RETURN_FIRST}:</td>
		<td class="row2 two"><select class="post" name="ch">{S_CHARACTER_OPTIONS}</select>&nbsp;{L_POST_CHARACTERS}</td>
	</tr>
	<tr>
		<td class="row3 pad4 txtcenter" colspan="4">{S_HIDDEN_FIELDS}<input class="button" name="submit" type="submit" value="{L_SEARCH}" />&nbsp;&nbsp;<input class="button" type="reset" value="{L_RESET}" /></td>
	</tr>
	</table>
	
	</form>

	<div class="spacing"></div>

	<!-- IF .recentsearch -->
	<table cellspacing="1" class="search">
	<tr>
		<th colspan="2"><h2>{L_RECENT_SEARCHES}</h2></th>
	</tr>
	<!-- BEGIN recentsearch -->
		<tr>

			<!-- IF recentsearch.S_ROW_COUNT is even --><td class="row1 one" onmouseover="this.style.backgroundColor='#2b2b2b'; this.style.cursor='pointer'"
			onmouseout="this.style.backgroundColor=''"
			onclick="window.location.href='{recentsearch.U_KEYWORDS}'"
			width="70%"><!-- ELSE --><td class="row2 one" onmouseover="this.style.backgroundColor='#e3e3e3'; this.style.cursor='pointer'"
			onmouseout="this.style.backgroundColor=''"
			onclick="window.location.href='{recentsearch.U_KEYWORDS}'"
			width="70%"><!-- ENDIF --><a href="{recentsearch.U_KEYWORDS}">{recentsearch.KEYWORDS}</a></td>
			<!-- IF recentsearch.S_ROW_COUNT is even --><td class="row1 two" width="30%"><!-- ELSE --><td class="row2 one" width="30%"><!-- ENDIF -->{recentsearch.TIME}</td>
		</tr>
	<!-- END recentsearch -->
	</table>

	<div class="spacing"></div>

	<!-- ENDIF -->

	<!-- INCLUDE breadcrumbs.html -->

	<div class="spacing"></div>

	<div class="right"><!-- INCLUDE jumpbox.html --></div>

	<div class="spacing"></div>

<script type="text/javascript">
// <![CDATA[
	(function()
	{
		var elements = document.getElementsByName("keywords");
		for (var i = 0; i < elements.length; ++i)
		{
			if (elements[i].tagName.toLowerCase() == 'input')
			{
				elements[i].focus();
				break;
			}
		}
	})();
// ]]>
</script>

	<!-- INCLUDE overall_footer.html -->