<!-- INCLUDE simple_header.html -->

<script type="text/javascript">
// <![CDATA[
/**
* Jump to inbox
*/
function jump_to_inbox(url)
{
	opener.document.location.href = url.replace(/&amp;/g, '&');
	window.close();
}
// ]]>
</script>

<div class="spacing"></div>

<table class="viewtopic" width="100%" border="0" cellspacing="0" cellpadding="10">
<tr class="toplines">
	<th><!-- IF S_NOT_LOGGED_IN -->{L_LOGIN_CHECK_PM}<!-- ELSE -->{MESSAGE}<!-- ENDIF --></th>
</tr>
<tr>
	<td>
		<table width="100%" border="0" cellspacing="1" cellpadding="4">
		<tr> 
			<td class="row1 pad4 txtmiddle">
				<br />
				<!-- IF S_NOT_LOGGED_IN -->
					{L_LOGIN_CHECK_PM}
				<!-- ELSE -->
					{MESSAGE}<br /><br />{CLICK_TO_VIEW}
				<!-- ENDIF -->
				<br /><br /><a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>

<!-- INCLUDE simple_footer.html -->