<!-- INCLUDE ucp_header.html -->

<table class="viewforum" width="100%" cellspacing="1">
<tr>
	<th colspan="2" valign="middle"><h2>{L_TITLE}</h2></th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row1 txtmiddle pad60" colspan="2">{ERROR}</td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="row1 pad4" width="50%"><b>{L_DEFAULT_BBCODE}:</b></td>
	<td class="row2 pad4"><input type="radio" class="radio" name="bbcode" value="1"<!-- IF S_BBCODE --> checked="checked"<!-- ENDIF --> />{L_YES}&nbsp; &nbsp;<input type="radio" class="radio" name="bbcode" value="0"<!-- IF not S_BBCODE --> checked="checked"<!-- ENDIF --> />{L_NO}</td>
</tr>
<tr>
	<td class="row1 pad4" width="50%"><b>{L_DEFAULT_SMILIES}:</b></td>
	<td class="row2 pad4"><input type="radio" class="radio" name="smilies" value="1"<!-- IF S_SMILIES --> checked="checked"<!-- ENDIF --> />{L_YES}&nbsp; &nbsp;<input type="radio" class="radio" name="smilies" value="0"<!-- IF not S_SMILIES --> checked="checked"<!-- ENDIF --> />{L_NO}</td>
</tr>
<tr>
	<td class="row1 pad4" width="50%"><b>{L_DEFAULT_ADD_SIG}:</b></td>
	<td class="row2 pad4"><input type="radio" class="radio" name="sig" value="1"<!-- IF S_SIG --> checked="checked"<!-- ENDIF --> />{L_YES}&nbsp; &nbsp;<input type="radio" class="radio" name="sig" value="0"<!-- IF not S_SIG --> checked="checked"<!-- ENDIF --> />{L_NO}</td>
</tr>
<tr>
	<td class="row1 pad4" width="50%"><b>{L_DEFAULT_NOTIFY}:</b></td>
	<td class="row2 pad4"><input type="radio" class="radio" name="notify" value="1"<!-- IF S_NOTIFY --> checked="checked"<!-- ENDIF --> />{L_YES}&nbsp; &nbsp;<input type="radio" class="radio" name="notify" value="0"<!-- IF not S_NOTIFY --> checked="checked"<!-- ENDIF --> />{L_NO}</td>
</tr>
<tr>
	<td class="row3 txtcenter pad4" colspan="2">{S_HIDDEN_FIELDS}<input class="button" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="button" type="reset" value="{L_RESET}" name="reset" /></td>
</tr>
</table>

<!-- INCLUDE ucp_footer.html -->