<!-- INCLUDE ucp_header.html -->

<table class="viewforum" width="100%" cellspacing="1">
<tr>
	<th colspan="3"><h2>{L_UCP}</h2></th>
</tr>
<tr>
	<td class="row1 two" colspan="3"><p>{L_UCP_WELCOME}</p></td>
</tr>
<tr>
	<th colspan="3"><h2>{L_IMPORTANT_NEWS}</h2></th>
</tr>

<!-- BEGIN topicrow -->
<!-- ************** UNTESTED FROM HERE **************** -->
	<tr>
		<!-- IF topicrow.S_ROW_COUNT is even -->
		<td class="row1 txtcenter" width="10%">{topicrow.TOPIC_FOLDER_IMG}</td>
		<td class="row1 two" width="60%">
			<p><!-- IF topicrow.S_UNREAD --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF -->{topicrow.ATTACH_ICON_IMG} <a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a></p><p>{topicrow.GOTO_PAGE}</p>
		</td>
		<td class="row1 two" width="30%" align="center" nowrap="nowrap">
			<p>{topicrow.LAST_POST_TIME}</p>
			<p>{topicrow.LAST_POST_AUTHOR_FULL}
				<a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a>
			</p>
		</td>
		<!-- ELSE -->
		<td class="row2 two txtcenter" width="25">{topicrow.TOPIC_FOLDER_IMG}</td>
		<td class="row2 two" width="100%">
			<p><!-- IF topicrow.S_UNREAD --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF -->{topicrow.ATTACH_ICON_IMG} <a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a></p><p>{topicrow.GOTO_PAGE}</p>
		</td>
		<td class="row2 two" width="120" align="center" nowrap="nowrap">
			<p>{topicrow.LAST_POST_TIME}</p>
			<p>{topicrow.LAST_POST_AUTHOR_FULL}
				<a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a>
			</p>
		</td>
		<!-- ENDIF -->
	</tr>
<!-- ************** UNTESTED UNTIL HERE **************** -->
<!-- BEGINELSE -->
	<tr>
		<td class="row1 two txtcenter" colspan="3">{L_NO_IMPORTANT_NEWS}</td>
	</tr>
<!-- END topicrow -->

<tr>
	<th colspan="3"><h2>{L_YOUR_DETAILS}</h2></th>
</tr>
<tr>
	<td class="row1 two" colspan="3">
		<table width="100%" cellspacing="1" cellpadding="4">
		<tr> 
			<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_JOINED}: </td>
			<td width="100%">{JOINED}</td>
		</tr>
		<tr> 
			<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_TOTAL_POSTS}: </td>
			<td><!-- IF POSTS_PCT -->{POSTS}<br />[{POSTS_PCT} / {POSTS_DAY}]<!-- IF S_DISPLAY_SEARCH --><br /><a href="{U_SEARCH_SELF}">{L_SEARCH_YOUR_POSTS}</a><!-- ENDIF --><!-- ELSE -->{POSTS}<!-- ENDIF --></td>
		</tr>
		<!-- IF S_SHOW_ACTIVITY -->
			<tr>
				<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_ACTIVE_IN_FORUM}: </td>
				<td><!-- IF ACTIVE_FORUM != '' --><a  href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a><br />[ {ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT} ]<!-- ELSE -->-<!-- ENDIF --></td>
			</tr>
			<tr>
				<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_ACTIVE_IN_TOPIC}: </td>
				<td><!-- IF ACTIVE_TOPIC != '' --><a  href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a><br />[ {ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT} ]<!-- ELSE -->-<!-- ENDIF --></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF WARNINGS -->
			<tr>
				<td align="{S_CONTENT_FLOW_END}" valign="middle" nowrap="nowrap"><b>{L_YOUR_WARNINGS}: </b></td>
				<td>{WARNING_IMG} [ <b>{WARNINGS}</b> ]</td>
			</tr>
		<!-- ENDIF -->
		</table>
	</td>
</tr>
<tr>
	<td colspan="3">&nbsp;</td>
</tr>
</table>

<!-- INCLUDE ucp_footer.html -->