<!-- INCLUDE ucp_header.html -->

<table class="viewforum" width="100%" cellspacing="1">
<tr>
	<th colspan="2" valign="middle"><h2>{L_TITLE}</h2></th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row1 txtmiddle pad60" colspan="2">{ERROR}</td>
	</tr>
<!-- ENDIF -->
<tr> 
	<td class="row1 pad4" width="35%"><b>{L_CURRENT_IMAGE}: </b><br />{L_AVATAR_EXPLAIN}</td>
	<td class="row2 pad4 txtcenter"><br />
		<!-- IF AVATAR -->{AVATAR}<br /><br /><input type="checkbox" class="radio" name="delete" />&nbsp;{L_DELETE_AVATAR}
		<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" />
		<!-- ENDIF --></td>
</tr>
<!-- IF not S_AVATARS_ENABLED -->
	<tr>
		<td class="row1 txtmiddle pad60" colspan="2">{L_AVATAR_FEATURES_DISABLED}</td>
	</tr>
<!-- ENDIF -->
<!-- IF S_UPLOAD_AVATAR_FILE -->
	<tr> 
		<td class="row1 pad4" width="35%"><b>{L_UPLOAD_AVATAR_FILE}: </b></td>
		<td class="row2 pad4"><input type="hidden" name="MAX_FILE_SIZE" value="{AVATAR_SIZE}" /><input style="color:#000;" size="40" type="file" name="uploadfile" /></td>
	</tr>
<!-- ENDIF -->
<!-- IF S_UPLOAD_AVATAR_URL -->
	<tr> 
		<td class="row1 pad4" width="35%"><b>{L_UPLOAD_AVATAR_URL}: </b><br />{L_UPLOAD_AVATAR_URL_EXPLAIN}</td>
		<td class="row2 pad4"><input class="post" type="text" name="uploadurl" size="40" value="{AVATAR_URL}" /></td>
	</tr>
<!-- ENDIF -->
<!-- IF S_LINK_AVATAR -->
	<tr> 
		<td class="row1 pad4" width="35%"><b>{L_LINK_REMOTE_AVATAR}: </b><br />{L_LINK_REMOTE_AVATAR_EXPLAIN}</td>
		<td class="row2 pad4"><input class="post" type="text" name="remotelink" size="40" value="{AVATAR_REMOTE}" /></td>
	</tr>
	<tr> 
		<td class="row1 pad4" width="35%"><b>{L_LINK_REMOTE_SIZE}: </b><br />{L_LINK_REMOTE_SIZE_EXPLAIN}</td>
		<td class="row2 pad4"><input class="post" type="text" name="width" size="3" value="{AVATAR_WIDTH}" /> {L_PIXEL} &times;  <input class="post" type="text" name="height" size="3" value="{AVATAR_HEIGHT}" /> {L_PIXEL}</td>
	</tr>
<!-- ENDIF -->
<!-- IF S_DISPLAY_GALLERY -->
	<tr> 
		<td class="row1 pad4" width="35%"><b>{L_AVATAR_GALLERY}: </b></td>
		<td class="row2 pad4"><strong><a href="{U_GALLERY}">{L_DISPLAY_GALLERY}</a></strong></td>
	</tr>
<!-- ENDIF -->

<!-- IF S_IN_AVATAR_GALLERY -->
	<tr> 
		<th colspan="2"><h2>{L_AVATAR_GALLERY}</h2></th>
	</tr>
	<tr> 
		<td class="row3 pad4 txtmiddle" colspan="2">{L_AVATAR_CATEGORY}: <select name="category">{S_CAT_OPTIONS}</select>&nbsp; <input class="button" tabindex="0" type="submit" value="{L_GO}" name="display_gallery" /></td>
	</tr>
	<tr> 
		<td class="row1 pad4 txtcenter" colspan="2">
			<table cellspacing="1" cellpadding="4" border="0">
			<!-- BEGIN avatar_row -->
			<tr> 
				<!-- BEGIN avatar_column -->
					<td class="row1 pad4 txtcenter"><img src="{avatar_row.avatar_column.AVATAR_IMAGE}" alt="{avatar_row.avatar_column.AVATAR_NAME}" title="{avatar_row.avatar_column.AVATAR_NAME}" /></td>
				<!-- END avatar_column -->
			</tr>
			<tr>
				<!-- BEGIN avatar_option_column -->
					<td class="row2 pad4 txtcenter"><input type="radio" class="radio" name="avatar_select" value="{avatar_row.avatar_option_column.S_OPTIONS_AVATAR}" /></td>
				<!-- END avatar_option_column -->
			</tr>
			<!-- END avatar_row -->
			</table>
		</td>
	</tr>
<!-- ENDIF -->

<!-- IF S_DISPLAY_GALLERY or S_IN_AVATAR_GALLERY or S_LINK_AVATAR or S_UPLOAD_AVATAR_URL or S_UPLOAD_AVATAR_FILE or AVATAR -->
	<tr>
		<td class="row3 pad4 txtmiddle" colspan="2">{S_HIDDEN_FIELDS}<input class="button" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<!-- IF S_IN_AVATAR_GALLERY --><input class="button" type="submit" name="cancel" value="{L_CANCEL}" /><!-- ELSE --><input class="button" type="reset" value="{L_RESET}" name="reset" /><!-- ENDIF --></td>
	</tr>
<!-- ENDIF -->
</table>

<!-- INCLUDE ucp_footer.html -->