#container {

}
	#left {

	}
	#right {

	}
		.editUser {

		}
			.editUser .pure-g-r {
				overflow: hidden;
			}
				.editUser .pure-u-1-3 {
					float: left;
					min-width: 220px;
				}
			.editUser input, .editUser textarea, .editUser select {
				width: 200px;
			}
			.editUser button {
				display: block;
				margin-top: 10px;
			}
		.editAccount {

		}
			.editAccount .pure-g-r {
				overflow: hidden;
			}
				.editAccount .pure-u-1-2 {
					float: left;
				}
			.editAccount input, .editAccount textarea, .editAccount select {
				width: 200px;
			}
			.editAccount button {
				display: block;
				margin-top: 10px;
			}