* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 10px;
}
	figure {
		width: 150px;
		text-align: center;
	}
	#logo {
		width: 150px;
	}
	a {
		color: rgba(100, 100, 100, 1);
		text-decoration: none;
	}
	a:hover {
		color: rgba(0, 0, 0, 1);
		text-decoration: underline;
	}
	#container {
		background: #eee;
		font-family: verdana, helvetica, sans-serif;
		width: 100%;
		max-width: 1260px;
		margin: auto;
		padding: 10px;
		border: 20px solid #2f75c3;
		-moz-box-shadow: inset 0 0 10px #000, 0 0 10px #000;
		-webkit-box-shadow: inset 0 0 10px #000, 0 0 10px #000;
		box-shadow: inset 0 0 10px #000, 0 0 10px #000;
		border-radius: 25px;
	}
		nav ul {
			width: 98%;
			margin: 10px auto;
			border-top: 2px solid #ddd;
			border-bottom: 2px solid #ddd;
			text-align: center;
			list-style: none;
			padding: 0;
		}
			nav li {
				display: inline;
			}
				nav a {
					text-decoration: none;
					color: #777;
					display: inline-block;
					width: 150px;
					padding: 10px;
					margin: 0;
				}
				nav a:hover {
					color: #444;
					background: #ddd;
				}
		#left {
			overflow: hidden;
			float: left;
			margin: 10px;
			padding: 5px;
			width: 200px;
			border-right: 2px solid #ddd;
		}
		#left form * {
			margin: 5px;
		}
		#right {
			overflow: hidden;
			margin: 10px;
			margin-top: 20px;
			padding: 5px;
		}
		footer {
			clear: both;
			width: 98%;
			height: 50px;
			margin: 10px;
			border-top: 2px solid #ddd;
			border-bottom: 2px solid #ddd;
			text-align: center;
		}
			footer a {
				text-decoration: none;
				color: #777;
			}
			footer a:hover {
				color: #444;
			}