#container {

}
	#left {

	}
	#right {

	}
		.editProperty {

		}
			.editProperty .pure-g-r {
				overflow: hidden;
			}
				.editProperty .pure-u-1-2 {
					float: left;
					min-width: 220px;
				}
			.editProperty input, .editProperty textarea, .editProperty select {
				width: 200px;
			}
			.editProperty button {
				display: block;
				margin-top: 10px;
			}
		.editAccount {

		}
			.editAccount .pure-g-r {
				overflow: hidden;
			}
				.editAccount .pure-u-1-2 {
					float: left;
				}
			.editAccount input, .editAccount textarea, .editAccount select {
				width: 200px;
			}
			.editAccount button {
				display: block;
				margin-top: 10px;
			}