#results {
	list-style: none;
	padding-left: 0;
}
	#results li {
		min-height: 80px;
		margin: 10px 0;
		padding: 10px;
	}
	#results li:hover {
		background-color: #f7f7f7;
	}
		#results img {
			float: left;
			height: 80px;
			margin-right: 10px;
		}
		#results h3 {
			margin-bottom: 0;
			display: inline;
		}
		#results p {
			margin: 0;
		}
		#results .subscription {
			font-size: 1.1em;
			display: inline;
			margin-left: 20px;
			color: #b77;
		}
		#results .first-line {
			margin-bottom: 10px;
			font-size: 1.05em;
		}
		#results .forth-line {
			margin-top: 5px;
			font-size: 0.8em;
		}