.main {
	margin: 0px auto;
	margin-bottom: 30px;
	width: 50%;
	font-size: 0.8em;
}
	.main h2 {
		text-align: center;
	}
	.main .pure-g-r > div {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.pure-u-1-4 {
		width: 24.9%;
		padding: 5px 10px;
	}

header {
	width: 25%;
	text-align: center;
	margin: 0 auto;
	margin-top: -25px;
}
	header h1 {
		margin: 0;
		padding: 0;
	}
	header img {
		width: 100%;
		max-width: 232px;
	}
	header p {
		margin: 0 auto;
		width: 100%;
		max-width: 232px;
		margin-top: -10px;
		color: #888;
		font-size: 0.7em;
	}

@media all and (max-width: 768px) {
	.pure-u-1-4 {
		text-align: center;
		padding: 2px 15px;
	}
}
@media all and (max-width: 660px) {
	header {
		margin-top: 0;
		width: 50%;
	}
}