header {
	text-align: left;
}
	#title {
		width: 150px;
		text-align: center;
		display: inline-block;
		position: relative;
	}
		#title h1 {
			margin: 0;
			display: inline;
		}
		#title img {
			width: 90%;
			max-width: 116px;
		}
		#title p {
			margin-top: -7px;
			color: #888;
			font-size: 0.5em;
		}
	.search-form {
		display: inline-block;
		position: relative;
	}
		.search {
			text-align: left;
		}
			.search div {
				display: inline-block;
			}
			.search button {
				display: inline-block;
				margin: 0 10px;
			}

#main-columns {
	width: 100%;
	position: relative;
}
	aside {
		font-size: 0.8em;
		padding: 0 10px;
		width: 140px;
		position: absolute;
		top: 0;
	}
		aside ul {
			list-style: none;
			padding-left: 20px;
		}

	.main {
		font-size: 0.8em;
		margin: 0 20px 20px 160px;
		padding: 10px;
		border-left: 1px solid rgba(0, 0, 0, 0.1);
	}
		.main #order {
			padding-left: 0;
			display: inline;
		}
			.main #order li {
				display: inline-block;
				margin: 0 5px;
			}
		#count {
			position: absolute;
			right: 20px;
			display: inline;
			color: rgba(0, 0, 0, 0.6);
			font-size: 0.8em;
			line-height: 2em
		}
		#results {
			list-style: none;
			padding-left: 0;
		}
			#results li {
				min-height: 80px;
				margin: 10px 0;
				padding: 10px;
			}
			#results li:hover {
				background-color: #f7f7f7;
			}
				#results img {
					float: left;
					height: 80px;
					margin-right: 10px;
				}
				#results h3 {
					margin-bottom: 0;
					display: inline;
				}
				#results p {
					margin: 0;
				}
				#results .price {
					font-size: 1.1em;
					display: inline;
					margin-left: 20px;
					color: #b77;
				}
				#results .first-line {
					margin-bottom: 10px;
					font-size: 1.05em;
				}
					#results .location {
						color: #666;
					}
				#results .second-line {
					
				}
				#results .third-line {

				}
				#results .forth-line {
					margin-top: 5px;
					font-size: 0.8em;
				}
					#results .forth-line a {
						
					}
		#pagenator {
			list-style: none;
			padding: 0;
			display: inline-block;
			text-align: center;
			margin: 10px 0;
			width: 100%;
		}
			#pagenator li {
				padding: 5px 0;
				display: inline-block;
			}
				#pagenator a {
					padding: 5px 10px;
				}
				#pagenator :first-child a:hover, #pagenator :last-child a:hover {
					text-decoration: none;
					background-color: rgba(100, 100, 100, 0.2);
				}
				#pagenator .current {
					font-weight: 700;
				}
		
footer {
	margin-top: 50px;
}

@media all and (max-width: 768px) {
	#title {
		width: 100%;
	}
		#title img {
			max-width: 200px;
		}
		#title p {
			font-size: 0.7em;
		}
	.search-form {
		width: 100%;
		position: relative;
	}
	.search {
		padding: 0 20px;
	}
		.search div {
			display: block;
			width: 100%;
			margin: 0;
		}
		.search div input {
			width: 100%;
		}
		.search button {
			position: relative;
			display: inline-block;
			margin: 10px 0;
			width: 100%;
		}
	aside {
		width: 100%;
		position: relative;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
		aside > ul {
		}
			aside > ul > li {
				background-color: rgba(150, 150, 150, 0.5);
				margin: 7px 0;
				margin-right: 10px;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
			}
			aside > ul > li:hover {
				background-color: rgba(150, 150, 150, 0.2);
			}
				aside > ul > li > a {
					display: block;
					padding: 7px;
				}
				aside ul ul {
					margin: 0 0 10px 0;
				}
					aside .selected {
						font-weight: 700;
					}
	.main {
		border: none;
		margin: 20px 20px 20px 0px;
		padding: 10px;
	}
}
@media (max-width: 440px) {
	#count {
		margin-top: 1.2em;
	}
}