/*  Adinfinitum Style Sheet
    --------------------------------------------------------------
	Style name:		Adinfinitum
	Based on style:		subSilver (the default phpBB 2.0.x style) and Adinfinitum for phpBB2
	Original author:	Tom Beddard ( http://www.subblue.com/ ) and Mike Lothar
	Modified by:		phpBB Group ( http://www.phpbb.com/ )
									Will Hough ( http://www.willhough.net ) and CiC
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
img {
	border:0;
	}
html {
	height:100%;
	}
body {
	height:100%;
	background-color:#232323;
	text-align:center;
	padding:0;
	margin:0;
	}
table {
	width:100%;
	padding:0;
	}
pre {
	color:#89b0df;
	font-size:11px;
	line-height:13px;
	text-align:left;
	padding:0 10px;
	}
form, .checkbox, input.radio, .helpline, p {
	margin:0;
	padding:0;
	border:0;
	}
input, select {
	vertical-align:middle;
	}
input.button {
	background:#343434 url('images/buttonsbg.gif') repeat-x;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#f5f5f5;
	border:1px solid;
	border-color:#999 #666 #555 #888;
	padding:1px 0.5em;
	}
* html input.button {
	/*\*//*/
	padding:1px 0.5em;
	/**/	
	/*\*/padding:1px 0.5em;/* */
	width/**/:0;
	overflow/**/:visible;
	}
input.button {
	cursor:pointer !important;
	}
input.button:hover, input.button:focus {
	border:1px solid;
	border-color:#bbb #888 #777 #aaa;
	}
#forum {
	width:780px;
	height:100%;
	background-color:#000;
	margin:0 auto;
	}
#bodyline {
	width:717px;
	padding:10px 0;
	vertical-align:top;
	text-align:left;
	}
#top_image {
	text-align:center;
	}
#top_image img {
	border:0;
	}
#menu {
	height:18px;
	line-height:18px;
	padding:0 3px 1px;
	}
#menu #left a {
	padding-right:10px;
	}
#menu #right a {
	padding-left:10px;
	}
.mainmenu {
	line-height:18px;
	}
div.spacing {
	height:10px;
	clear:both;
	}
.postbuttons img {
	border:0;
	margin-right:10px;
	}
.pad0-0-4 {
	padding:0 0 4px;
	}
.pad0-0-10 {
	padding:0 0 10px;
	}
.pad1 {
	padding:1px;
	}
.pad4 {
	padding:4px;
	}
.pad10 {
	padding:10px;
	}
.pad25 {
	padding:25px;
	}
.pad60 {
	padding:60px;
	}
div.timezone {
	padding:0 3px;
	}
div.copyright {
	padding:5px;
	}
.quotetitle, .codetitle, .attachtitle, .downloadnoticetitle {
	margin:10px 10px 0px 10px;
	padding:10px 10px 0px 10px;
	}
.quotecontent, .codecontent, .attachcontent, .downloadnotice {
	margin:0px 10px 0px 10px;
	padding:10px 10px 10px 20px;
	}
div.hr {
	height:1px;
	background-color:#444;
	margin:5px 0;
	}
div.hr hr {
	display:none;
	}
input.post, textarea.post, select, input.postfile {
	margin:0;
	border:1px solid #666;
	background-color:#131313;
	}
input.post, textarea.post, input.postfile {
	padding:2px 3px;
	}
input.post {
	height:19px;
	}
html>body input.post {
	height:12px;
	}
.helpline {
	background-color:#232323;
	}
.postmini {
	width:25px;
	}
.postsmall {
	width:90px;
	}
.postmedium {
	width:150px;
	}
.postbig {
	width:225px;
	}
.postlarge {
	width:320px;
	}
.postbiggest {
	width:450px;
	}
.postauthor {
	color:#e7e7e7;
	font-weight:bold;
	}
.postauthor a {
	color:#e7e7e7;
	text-decoration:none;
	}
table.search td.one .postauthor a {
	color:#e7e7e7;
	}
.postauthor a:hover {
	text-decoration:underline;
	}
.block {
	display:block;
	}
.clear {
	clear:both;
	}
.left {
	float:left;
	text-align:left;
	}
.right {
	float:right;
	text-align:right;
	}
.txtcenter {
	text-align:center;
	}
.txtmiddle {
	text-align:center;
	vertical-align:middle;
	}
.txtright {
	text-align:right;
	}
.txttop {
	vertical-align:top;
	}
.txtbottom {
	vertical-align:bottom;
	}
.txtleft {
	text-align:left;
	}
td.row0, tr.row0 {
	background-color:#232323;
	}
td.row1, tr.row1 {
	background-color:#232323;
	}
td.row2, tr.row2 {
	background-color:#2b2b2b;
	}
td.row3, tr.row3 {
	height:30px;
	background-color:#333333;
	}
td, th, input, select, textarea, .message {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
	text-transform:none;
	text-decoration:none;
	color:#f5f5f5;
	font-size:10px;
	line-height:13px;
	}
td a {
	color:#ca2023;
	text-decoration:underline;
	}
td a:hover {
	color:#ca2023;
	text-decoration:none;
	}
tr.lines_1 th .nav, tr.lines_3 th .nav, .nav {
	font-size:11px;
	line-height:13px;
	font-weight:bold;
	}
tr.lines_1 th .nav a, tr.lines_3 th .nav a, .nav a {
	color:#ca2023;
	text-decoration:none;
	}
tr.lines_1 th .nav a:hover, tr.lines_3 th .nav a:hover, .nav a:hover {
	color:#ca2023;
	text-decoration:underline;
	}
/* Feed icon in forumlist_body.html */
a.feed-icon-forum {
	float:right;
	margin:3px;
	}
.codetitle {
	background-color:#333;
	border-top:2px solid #434343;
	border-left:2px solid #434343;
	border-right:2px solid #434343;
	font-family:Courier, 'Courier New', sans-serif;
	font-style:normal;
	font-weight:normal;
	text-transform:none;
	text-decoration:none;
	color:#89b0df;
	font-size:11px;
	line-height:13px;
	}
.codecontent {
	background-color:#333;
	border-bottom:2px solid #434343;
	border-left:2px solid #434343;
	border-right:2px solid #434343;
	font-family:Courier, 'Courier New', sans-serif;
	font-style:normal;
	font-weight:normal;
	text-transform:none;
	text-decoration:none;
	color:#89b0df;
	font-size:11px;
	line-height:13px;
	}
.codecontent a {
	color:#89b0df;
	text-decoration:underline;
	}
.codecontent a:hover {
	color:#89b0df;
	text-decoration:none;
	}
.quotetitle, .attachtitle {
	background-color:#333;
	border-top:2px solid #434343;
	border-left:2px solid #434343;
	border-right:2px solid #434343;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
	text-transform:none;
	text-decoration:none;
	color:#555;
	font-size:10px;
	line-height:13px;
	}
.downloadnoticetitle {
	background-color:#ecd5d8;
	border-top:2px solid #434343;
	border-left:2px solid #434343;
	border-right:2px solid #434343;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
	text-transform:none;
	text-decoration:none;
	color:#ca2023;
	font-size:10px;
	line-height:13px;
	}
.quotecontent {
	background-color:#333;
	border-bottom:2px solid #434343;
	border-left:2px solid #434343;
	border-right:2px solid #434343;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
	text-transform:none;
	text-decoration:none;
	color:#d5d5d5;
	font-size:10px;
	line-height:13px;
	}
.attachcontent {
	background-color:#333;
	border-bottom:2px solid #434343;
	border-left:2px solid #434343;
	border-right:2px solid #434343;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
	text-transform:none;
	text-decoration:none;
	color:#555;
	font-size:10px;
	line-height:18px;
	}
.quotecontent a, .attachcontent a {
	color:#555;
	text-decoration:underline;
	}
.quotecontent a:hover, .attachcontent a:hover {
	color:#555;
	text-decoration:none;
	}
.downloadnotice {
	background-color:#ecd5d8;
	border-bottom:2px solid #434343;
	border-left:2px solid #434343;
	border-right:2px solid #434343;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
	text-transform:none;
	text-decoration:none;
	color:#9f0002;
	font-size:10px;
	line-height:13px;
	}
.edited {
	font-style:italic;
	}
tr.toplines th {
	line-height:24px;
	height:24px;
	font-weight:bold;
	text-align:center;
	border:1px solid #ddd;
	border-width:1px 0;
	padding:0 10px;
	}
tr.toplines th a {
	text-decoration:none;
	color:#ddd;
	}
tr.toplines th a:hover {
	text-decoration:underline;
	}
tr.lines_1 th {
	border:1px solid #ddd;
	border-width:1px 0;
	padding:5px 2px 6px;
	}
tr.lines_3 th {
	border:1px solid #ddd;
	border-width:1px 0;
	padding:3px 2px;
	}
table.index_body td.one img {
	width:46px;
	height:25px;
	}
table.index_body td.one {
	padding:4px;
	text-align:center;
	}
table.index_body td.two {
	padding:4px;
	width:100%;
	}
table.index_body td.three {
	padding:4px;
	text-align:center;
	white-space:nowrap;
	}
table.index_body_icons td img {
	vertical-align:middle;
	}
table.index_body_icons td {
	white-space:nowrap;
	text-align:center;
	}
table.whoisonline td.one img {
	width:46px;
	height:25px;
	}
table.whoisonline td.one {
	padding:4px;
	text-align:center;
	}
table.whoisonline td.two {
	padding:4px;
	width:100%;
	}
table.whoisonline td.three {
	padding:4px;
	text-align:center;
	white-space:nowrap;
	}
table.whoisonline_icons td img {
	vertical-align:middle;
	}
table.whoisonline_icons td {
	white-space:nowrap;
	text-align:center;
	}
table.groupcp td.one {
	padding:4px 7px;
	width:150px;
	height:26px;
	}
table.groupcp td.two {
	padding:4px 5px 4px 4px;
	}
table.groupcp td.three {
	padding:4px 7px;
	height:26px;
	}
table.memberlist td.one {
	padding:3px;
	height:30px;
	}
table.memberlist th a {
	text-decoration:none;
	color:#ddd;
	}
table.memberlist th a:hover {
	text-decoration:none;
	color:#ca2023;
	}
table.memberlist td.row3 {
	height:20px;
	}
table.modcp td.one img {
	width:19px;
	height:18px;
	}
table.modcp td.one {
	padding:4px;
	text-align:center
	}
table.modcp td.two {
	padding:8px 4px;
	width:100%;
	}
table.modcp td.three {
	padding:4px;
	text-align:center;
	white-space:nowrap;
	}
table.modcp td.four {
	padding:4px;
	white-space:nowrap;
	width:150px;
	}
table.modcp td.five {
	padding:4px;
	}
table.modcp td.six {
	padding:4px 7px;
	vertical-align:top;
	font-weight:bold;
	text-align:left;
	width:150px;
	height:100px;
	}
table.modcp td.seven {
	padding:4px 7px;
	vertical-align:top;
	text-align:left;
	width:470px;
	}
table.modcp td.eight {
	padding:4px 7px;
	}
table.modcp td.nine {
	padding:4px 7px;
	height:18px;
	line-height:18px;
	}
table.modcp tr.toplines th {
	line-height:14px;
	height:24px;
	font-weight:bold;
	text-align:center;
	border:1px solid #ddd;
	border-width:1px 0;
	padding:0 10px;
	}
table.posting_body td.one {
	padding:4px 7px;
	width:150px;
	height:26px;
	}
table.posting_body td.two {
	padding:4px 5px 4px 4px;
	}
table.posting_body td.three {
	padding:4px 7px;
	vertical-align:top;
	width:150px;
	}
table.posting_body td.four {
	padding:4px 5px 4px 4px;
	vertical-align:top;
	}
table.posting_body td.four div {
	padding-bottom:3px;
	}
table.posting_body td.five {
	padding:4px 7px;
	}
table.posting_body td.six {
	padding:4px 7px;
	height:130px;
	}
table.posting_body td.seven {
	padding:4px 5px 4px 4px;
	vertical-align:top;
	}
table.posting_body td.eight {
	padding:4px 7px;
	vertical-align:top;
	font-weight:bold;
	width:135px;
	text-align:left;
	}
table.posting_body td.nine {
	padding:4px 7px 10px;
	vertical-align:top;
	text-align:left;
	}
table.privmsgs td.one img {
	width:19px;
	height:18px;
	}
table.privmsgs td.one {
	padding:4px;
	text-align:center;
	}
table.privmsgs td.two {
	padding:8px 4px;
	width:100%;
	}
table.privmsgs td.three {
	padding:4px;
	text-align:center;
	white-space:nowrap;
	}
table.profile td.one {
	padding:4px 7px;
	width:50%;
	height:26px;
	}
table.profile td.two {
	padding:4px 5px 4px 4px;
	}
table.profile td.three {
	padding:4px 7px;
	height:26px;
	}
table.profile_view_body tr {
	height:18px;
	}
table.viewtopic td.one {
	padding:4px 7px;
	font-weight:bold;
	}
table.viewtopic td.two {
	padding:4px 5px 4px 2px;
	height:20px;
	}
table.viewtopic td.three {
	padding:4px 7px;
	vertical-align:top;
	width:150px;
	}
table.viewtopic td.four {
	padding:2px 5px 4px;
	vertical-align:top;
	height:130px;
	}
table.viewtopic td.four table {
	width:560px;
	}
table.viewtopic td.five {
	padding:4px 7px;
	height:18px;
	line-height:18px;
	}
table.viewtopic td.six {
	padding:4px 5px;
	}
.postedited, .postapprove, .postreported {
	border:2px solid #ffcccc;
	background-color:#232323;
	padding:2px;
	width:100%;
	color:#ca2023;
	font-size:10px;
	line-height:13px
	}
table.viewforum td.one img {
	width:20px;
	height:18px
	}
table.viewforum td.one {
	padding:4px;
	text-align:center
	}
table.viewforum td.two {
	padding:4px;
	width:100%;
	}
table.viewforum td.three {
	padding:4px;
	text-align:center;
	white-space:nowrap;
	}
.forumrules {
	border:1px solid #ffcccc;
	background-color:#232323;
	padding:4px;
	width:100%;
	color:#ca2023;
	font-size:10px;
	line-height:13px;
	}
table.forumicons {
	width:0;
	}
table.forumicons td {
	white-space:nowrap;
	}
table.forumicons td img {
	width:19px;
	height:18px
	}
table.search td.zero {
	padding:1px;
	}
table.search td.one {
	padding:4px 7px;
	width:50%;
	vertical-align:top;
	}
table.search td.one a {
	text-decoration:none;
	color:#ca2023;
	}
table.search td.one a:hover {
	text-decoration:underline;
	}
table.search td.two {
	padding:4px 7px;
	}
table.search td.two a {
	text-decoration:none;
	}
table.search td.two div {
	padding-top:3px;
	}
table.search td.three {
	padding:4px 7px;
	text-align:right
	}
table.searchresults td.zero {
	padding:1px;
	}
table.searchresults td.one {
	padding:4px 7px;
	width:150px;
	vertical-align:top;
	}
table.searchresults td.one a {
	text-decoration:none;
	color:#ca2023;
	}
table.searchresults td.one a:hover {
	text-decoration:underline;
	}
table.searchresults td.two {
	padding:4px 7px;
	}
table.searchresults td.two a {
	text-decoration:none;
	}
table.searchresults td.two div {
	padding-top:3px;
	}
table.searchresults td.seven img {
	width:19px;
	height:18px;
	}
table.searchresults td.seven {
	padding:4px;
	text-align:center;
	width:5%;
	}
table.searchresults td.eight {
	padding:4px;
	width:40%;
	}
table.searchresults td.nine {
	padding:4px;
	text-align:center;
	width:5%;
	}
table.searchresults td.ten {
	padding:4px;
	text-align:center;
	white-space:nowrap;
	width:20%;
	}
table.searchresults td.eleven {
	padding:4px;
	text-align:center;
	width:20%;
	}
table.simple_header {
	background-color:#000;
	height:100%;
	}
table.simple_header td {
	vertical-align:top;
	}
table.viewonline td.one {
	padding:8px 4px;
	}
table.viewonline td.two {
	padding:8px 4px;
	text-align:center;
	}
h2 {
	font-size:11px;
	line-height:26px;
	height:26px;
	font-weight:bold;
	color:#ca2023;
	margin:0;
	padding:0 4px;
	}
h3 {
	font-size:11px;
	line-height:13px;
	font-weight:bold;
	text-decoration:none;
	color:#ca2023;
	margin:0;
	}
h4 {
	font-size:10px;
	}
h2 a, h3 a {
	text-decoration:none;
	color:#ca2023;
	}
h2 a:hover, h3 a:hover, .copyright a:hover {
	color:#ca2023;
	text-decoration:underline;
	}
.mainmenu a, tr.lines_1 th a, tr.lines_3 th a, .timezone a, .copyright a, .blacklink a {
	color:#f5f5f5;
	text-decoration:none;
	}
.mainmenu a:hover, tr.lines_1 th a:hover, tr.lines_3 th a:hover, .timezone a:hover, .blacklink a:hover {
	color:#f5f5f5;
	text-decoration:underline;
	}
.copyright {
	text-align:center;
	letter-spacing:-1px;
	}