@import url(http://fonts.googleapis.com/css?family=Cabin|Open+Sans+Condensed:300);
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

	body {
		overflow-x: hidden;
		font-family: 'Cabin', sans-serif;
		font-weight: 500;
		font-size: 1em;
		/*word-wrap: normal;*/
	}
	header {
		height: 125px;
		position: relative;
		margin: 10px 0;
		text-align: right;
	}
		header h1 {
			position: absolute;
			margin: 0 175px 0 0;
			padding: 0 10px;
			font-size: 5em;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 300;
			text-align: right;
			line-height: 0.9em;
		}
		header img {
			height: 175px;
		}

	nav {
		border-bottom: 1px solid rgba(0, 100, 200, 0.1);
		margin-bottom: 15px;
	}
		nav ul {
			display: inline-block;
		}
		nav li {
			display: inline-block;
			margin: 15px 5px;
		}
		nav a {
			color: #444;
			background-color: rgba(0, 100, 200, 0.1);
			border: 1px solid rgba(0, 0, 0, 0);
			display: inline-block;
			font-size: 11px;
			font-weight: bold;
			text-decoration: none;
			margin-bottom: 20px;
			line-height: normal;
			padding: 14px 10px;
			font-family: Helvetica, Arial, sans-serif;
		}
		nav a:hover {
			background-color: rgba(0, 100, 200, 0.18);
			border: 1px solid rgba(0, 100, 200, 0.05);
		}

	#content {
		text-align: justify;
	}
		#content > section > *:not(div) {
			margin: 15px 10px;
		}
		h2, h3, h4, h5, h6 {	
			font-family: 'Open Sans Condensed', sans-serif;
			border-bottom: 1px solid rgba(0, 100, 200, 0.1);
		}
		#slider-holder {
			width: 100%;
			height: 350px;
			margin: 20px 0;
		}
		.anythingSlider {
			padding: 0;
		}
		#content ul:not(#slider) {
			text-align: left;
			padding-left: 2em;
		    list-style-image: none;
			list-style-position: outside;
			list-style-type: disc;
		}
		#content ul:not(#slider) li {
			margin: 5px 0;
		}
		#content img {
			max-width: 100%;
		}
		#content p img {
			margin-top: 5px;
		} 
		#content p img:nth-of-type(even) {
			float: right;
			margin-left: 5px;
		}
		#content p img:nth-of-type(odd) {
			float: left;
			margin-right: 5px;
		}

	footer {
		border-top: 1px solid #ddd;
		padding-top: 15px;
		margin-top: 40px;
	}
		footer p:first-child {
			text-align: left;
		}
		footer p:not(:first-child):not(:last-child) {
			text-align: center;
		}
		footer p:last-child {
			text-align: right;
		}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#slider-holder {
			height: 280px;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#slider-holder {
			height: 280px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#slider-holder {
			height: 153px;
		}
		header img {
			height: 125px;
		}
		header h1 {
			margin: 0 125px 0 0;
			font-size: 3em;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#slider-holder {
			height: 153px;
		}
		nav a {
			margin-left: 12px;
			margin-right: 12px;
			padding: 15px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#slider-holder {
			height: 109px;
		}
		header h1 {
			font-size: 2em;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/