@import url(http://fonts.googleapis.com/css?family=Alef);

html {
	background-color: rgb(55, 55, 55);
	background: url(http://worldoftanks.eu/dcont/gskins_installed/WoT_8_5/img/back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: sans-serif;
	position: relative;
	padding: 0;
	height: 100%;
}

body {
	z-index: 15;
	position: relative;
	padding-bottom: 50px;
	max-width: 1050px;
	min-width: 200px;
	min-height: 100%;
	background: url(rust.jpg);
	
	color: rgb(185, 185, 185);
	font-family: 'Alef', sans-serif;
}
header {
	width: 100%;
	min-height: 150px;
	margin: 0;
}
h1 {
	margin: 10px;
	font-size: 4em;
	text-align: center;
}

nav ul{
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 10px auto;
	text-align: center;
}
nav li {
	display: inline-block;
}
nav a {
	display: block;
	min-width: 80px;
	margin: 5px;
	padding: 10px;
	background: rgba(240, 90, 20, 1);
	border-radius: 3px;
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0 0 10px rgba(50, 50, 50, 1);
	box-shadow:         0 0 10px rgba(50, 50, 50, 1);
}
nav a:hover {
	padding: 15px;
	background: rgba(260, 110, 40, 1);
	margin: 0;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0 0 10px rgba(50, 50, 50, 1);
	box-shadow:         0 0 10px rgba(50, 50, 50, 1);
}
a {
	color: #777;
	text-decoration: none;
	border-bottom: 1px solid #777;
}
a:hover {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
#content {
	margin: 0 10px 100px 10px;
}
#content > section {
	padding: 10px;
	border: 1px solid rgba(240, 90, 20, 0.7);
	border-radius: 2px;
	background-color: rgba(256, 256, 256, 0.17);
}
#content > section:not(:first-child) {
	margin: 25px 0;
}
#content > section:first-child {
	margin: 0;
}
#slider-holder {
	height: 350px;
}
.anythingSlider {
	padding: 0;
}
#content img {
	max-width: 100%;
}
#content h2 {
	text-align: center;
	font-size: 1.8em;
}
#content h2, 
#content h3, 
#content h4, 
#content h5, 
#content h6 {
	font-variant: small-caps;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
#content h3:not(:first-child), 
#content h4:not(:first-child), 
#content h5:not(:first-child), 
#content h6:not(:first-child) {
	margin-top: 2em;
}
.button {
	background: rgb(240, 90, 20);
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	padding: 20px 40px;
	border-radius: 3px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	display: inline-block;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-moz-user-select: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.button:hover {
	text-decoration: underline;
	border: 2px solid rgba(0, 0, 0, 0.4);
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.05));
}
.author-sign {
	font-style: italic;
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	margin-left: 5em;
	margin-top: 1em;
}

footer {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
}
footer p {
	margin: 10px 0;
}

@media screen and (min-width: 801px) {
	body {
		border-left: 1px solid rgba(240, 90, 20, 1);
		border-right: 1px solid rgba(240, 90, 20, 1);
		border-top: 1px solid transparent;
		width: 90%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 800px) {
	body {
		margin: 0;
	}
	h1 {
		margin-top: 0;
	}
}