body {

}

	nav {

	}

	header {
		text-align: center;
		margin-top: 5%;
	}
		header h1 {
			margin: 0;
		}
		header p {
			margin: 0;
			color: #888;
			font-size: 0.7em;
		}

	.main {
		width: 50%;
		margin: 30px auto;
	}
		.search {
			position: relative;
		}
			.search div {
				display: inline-block;
				text-align: center;
			}
			.search button {
				position: absolute;
				bottom: 0;
				margin: 10px;
			}
		.main p {
			text-align: center;
			color: #999;
			font-size: 0.7em;
		}
		.main p:first-of-type {
			margin-top: 40px;
		}
		.main p:last-of-type {
			margin-bottom: 40px;
		}

	footer {
		text-align: center;
	}
		footer p {
			color: #bbb;
			font-size: 0.7em;
		}