body {

}

nav {

}

header {
	text-align: center;
	margin-top: 5%;
}
header h1 {
	margin: 0;
}
header img {
	width: 100%;
	max-width: 232px;
}
header p {
	margin: 0;
	color: #888;
	font-size: 0.7em;
}

a {
	color: rgba(100, 100, 100, 1);
	text-decoration: none;
}
a:hover {
	color: rgba(0, 0, 0, 1);
	text-decoration: underline;
}

footer {
	text-align: center;
}
footer p {
	color: #bbb;
	font-size: 0.7em;
}
footer a {
	color: #bbb;
}
footer a:hover {
	color: #999;
}

@media all and (max-width: 270px) {
	nav li{
		width: 100%;
		text-align: center;
	}
}